body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content:center;
    align-items:center;
    height:0%;
    

}

.circle {
    width: 500px;
    height: 500px;
    background-color: rgb(255, 0, 251);
    border-radius: 50%;
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translate(-10%, -20%);
  }

  .circle p {
    margin: 35%;
    justify-content:center;
    align-items:center;
    text-align:center;
    font-size: 50px;
    font-weight: bold;
  }
